{% extends "admindashlayout.html" %}
{% block content %}
            
                <div class="mt-3">
                    <h2 class="ml-3" style="color: #fff;">CUSTOMER DETAILS</h2>
                <!-- Search box-->
                    <div class="col-lg-12 search mb-3">
                        <form method="POST" action="customer_search">
                        {% csrf_token %}
                           <div class="input-group md-form form-sm">
                              <input class="form-control" type="text" name="search" placeholder="Search by username" >
                              <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-search "></i></span>
                               </div>
                           </div>
                        </form>
                    </div>
                </div>
                <!--Button to add customer-->
                <!-- main sector /table area -->
                 <div class="table-responsive-md  table-responsive-sm ml-3 ">
                     <table class="table table-bordered table-hover table-bordered table-striped">
                         <thead class="thead bg-light">
                            <tr>
                                <th>username</th>
                                <th>email</th>
                                <th>address</th>
                                <th>contact</th>
                            </tr>
                         </thead>
                         {% for customer in customers %}
                            <tr class="tbody" style="color: #fff;">
                        
                                    <td>{{customer.username}}</td>
                                    <td>{{customer.customer_email}}</td>
                                    <td>{{customer.customer_address}}</td>
                                    <td>{{customer.customer_phone}}</td>

                                        
                                 <td>
                                     <a href="/user/edit/{{customer.customer_id}}" style="color:green"><i class="fa fa-pencil-square fa-lg" ></i>{{customer.customer_id}}</a>
                                     |
                                     <a href="/user/delete/{{customer.customer_id}}" style="color:red"><i class="fa fa-trash-o ml-2 fa-lg"></i></a>
                                 </td>
                                
                            </tr>
                         {% endfor %}
                     </table>
                 </div>
                 <div class="pagination d-flex justify-content-center">
                    <form method="POST" action="">
                          {% csrf_token %}
                          {% if page > 1 %}
                          <button class="btn btn-light p-1" name="prev" >Previous</button>
                          {% endif %}
                          <input readonly class="text-center p-1" value="{{page}}" name="page"/>
                          {% if pageItem == 6 %}
                          <button name="next" class="btn btn-light p-1">Next</button>
                          {% endif %}
                    </form>
                    
                 <script type="text/javascript">
                    $(function () {
                        $('.mySidenav').find('.active').removeClass('active');
                        $('#customer').addClass('active');
                    });
                </script>

{% endblock %}