<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
           Edit
        </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/registration.css' %}">
        <script src="{% static 'js/validation.js'%}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" >
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
            </head>

        <body>
            <div class="head">
                <nav class="navbar navbar-expand-lg navbar-dark"> 
                    <a href="#" class="navbar-brand">
                        <img src="{% static 'img/logo.png' %}" height="50" alt="CoolBrand">
                       
                    </a> 
                    <a class="navbar-brand" href="#" style="font-size: 50px;color: aliceblue; font-family:'Brush Script MT',cursive;">Chhatrabas</a>  
                   
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">  
                     <span class="navbar-toggler-icon"></span>  
                    </button>  
                    <div class="collapse navbar-collapse " id="collapsibleNavbar">
                        <div class="container justify-content-center">
                     <ul class="navbar-nav">  
                        <li class="nav-item " >  
                            <a class="nav-link"  id="btn" href="C:\Users\Acer\OneDrive - Softwarica College\Desktop\html\HTML\index.html" onclick="myFunction(id)" style="color: aliceblue;">About us</a>  
                           </li>  
                           <li class="nav-item">  
                            <a class="nav-link" id="btn1" href="#" onclick="myFunction(id)" style="color: aliceblue;">Hostel</a>  
                           </li>  
                           <li class="nav-item">  
                            <a class="nav-link" id="btn2" href="C:\Users\Acer\OneDrive - Softwarica College\Desktop\html\Blog.html" onclick="myFunction(id)" style="color: aliceblue;">Blog</a>  
                           </li>    
                           <li class="nav-item">  
                             <a class="nav-link"  id="btn3" href="C:\Users\Acer\OneDrive - Softwarica College\Desktop\html\contact.html"  onclick="myFunction(id)" href="#" style="color:aliceblue;">Contact</a>  
                            </li>    
                          </ul>
                     </div> 
                </nav>
            </div>
            <div class="container-fluid">
                <div class="registration-section">
                    <div class="col-lg-6 main">
                    <div class="registration-form">
                        
                            <h4>Chhatrabas</h4>
                        
                        
                            <h2>Edit your Information</h2>
                        
                        <form action="/user/update/{{customer.customer_id}}" method="POST">
                            {% csrf_token %}
                            <input type="text" name="username" id="customer_username" value={{customer.username}} class="text-box" placeholder="User name" required>
                            <input type="text" name="customer_address" id="customer_address" value={{customer.customer_address}} class="text-box" placeholder="Address" required>
                            <input type="text" name="customer_phone" id="customer_phone" class="text-box" value={{customer.customer_phone}} placeholder="Contact" required>
                            <input type="email" name="customer_email" id="customer_email" class="text-box"value={{customer.customer_email}} placeholder="Your email" required>
                            <input type="password" name="password" id="customer_password"  class="text-box" value={{customer.password}} placeholder="Password" required>
                            <input type="password" name="customer_confirm-password" id="customer_confirm-password" value={{customer.password}} class="text-box" placeholder="Confirm Password" >
                            <div class="btn-group m-3">
                                <input value="UPDATE" type="submit" class="btn btn-success ml-5"/>
                                <a href="/user/admindash"><button type="button"  class="btn btn-danger ml-3">
                                    <i class="fa fa-remove mr-1"></i>Cancel</button></a>
                            </div>
                          
                        </form>
                    </div>
                    </div>

                </div>
            </div>
            
        </body>
</html>