{% extends "admindashlayout.html" %}
{% block content %}
{% load static %}
<!--Search Customer details-->
<div class="mt-3">
    <h2 class="ml-3" style="color: #fff;">CUSTOMER DETAILS</h2>
<!-- Search box-->
    <div class="col-lg-12 search mb-3">
        <form method="POST" action="customer_search">
        {% csrf_token %}
           <div class="input-group md-form form-sm">
              <input class="form-control" type="text" name="search" placeholder="Search by username" >
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-search "></i></span>
               </div>
           </div>
        </form>
    </div>
</div>
   <a href="/user/admindash">
       <button class="btn btn-success mt-2 mb-2">Back</button>
   </a>

<!-- main sector /table area -->
<div class="table-responsive-md  table-responsive-sm ">
    <table class="table table-bordered table-hover table-bordered table-striped" style="width:63em">
        <tr>
            <th scope="col">username</th>
            <th scope="col">email</th>
            <th scope="col">address</th>
            <th scope="col">contact</th>
        </tr>
     </thead>
     {% for customer1 in customers %}
        <tr class="tbody" style="color: #fff;">
    
                <td>{{customer1.username}}</td>
                <td>{{customer1.customer_email}}</td>
                <td>{{customer1.customer_address}}</td>
                <td>{{customer1.customer_phone}}</td>

                    
             <td>
                 <a href="/user/edit/{{customer1.customer_id}}" style="color:green"><i class="fa fa-pencil-square fa-lg" ></i>{{customer.customer_id}}</a>
                 |
                 <a href="/user/delete/{{customer1.customer_id}}" style="color:red"><i class="fa fa-trash-o ml-2 fa-lg"></i></a>
             </td>
            
        </tr>
     {% endfor %}
 </table>
</div>
<script type="text/javascript">
$(function () {
    $('.mySidenav').find('.active').removeClass('active');
    $('#customer').addClass('active');
});
</script>
</div>
   </div>
{% endblock %}