
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=sawp');

:root{
    --color:#e40046
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background: rgb(48,74,208);
    background: radial-gradient(circle, rgba(48,74,208,1) 0%, rgba(11,93,110,1) 21%, rgba(6,29,80,1) 50%, rgba(48,7,98,1) 78%, rgba(10,19,85,1) 100%, rgba(252,70,107,1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: "poppins, sans-serif ";
    margin: 0 100px; 
}


.navbar
{
    background:rgba(0,0,0,0.2)
}
.nav-link{
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.navbar-toggler-icon {
    background:white;
  }
.nav-item:hover{
    background-color:rgba(255, 255, 255,0.2);
    border-radius: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
    padding-left: 20px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(245, 245, 245);
  }

  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
   } 


  .main {
    position: fluid;
    float: left;
    width: 100%;
    margin-left:0px;
    min-height: 800px;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 50px;
    background:rgba(255, 255, 255,0.2)
  
  }
  
  .right {
    
    float: left;
    width: 40%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
    
  }
  .left {
    float: left;
    width: 10%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;  
  }
  .top{
    color: rgb(128, 17, 17);
    font-size: 70px;
  }
  .disc{
    color: white;
     font-size: 25px;
  }

.profile-header{
    background: rgba(221, 221, 221, 0.699);
    width: 100%;
    display: flex;
    height: 190px;
    position: relative;
    border-radius: 50px 50px 0px 0px;
   

}

.profile-img{
    float: left;
    width: 340px;
    height: 200px;
}
.profile-img img{
    border-radius: 50%;
    height: 230px;
    width: 230px;
    border: 4px solid #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    position: absolute;
    left: 50px;
    top:20px;
    z-index: 5;
    background: #fff;
}

.profile-nav-info{
    float:left;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
}
.profile-nav-info h3{
    font-variant: small-caps;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}
.profile-nav-info .address{
    display: flex;
    font-weight: bold;
    color:#777;
}

.main-bd{ 
    width:100%;
    display: flex;
    padding-right: 15px;
}
.profile-side{
    width: 300px;
    background: rgba(221, 221, 221, 0.699);
    border-radius: 0px 0px 50px 50px;
    padding: 90px 30px 20px;
    font-family: 'Bree Serif',serif;
}
.profile-side p{
    margin-bottom: 7px;
    color: #333;
    font-size: 14px;
}
.profile-side p i {
    color: var(--color);
    margin-right: 10px;   
}
.mobile-no i{
    transform: rotateY(180deg);
}
.profile-btn{
  display: flex;
}
button.chatbtn,button.createbtn{
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 2px;
  background: var(--color);
  font-family: "Brew Serif" ,sans-serif;
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background .3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0,0,0,.3);
}
button.chatbtn:hover,button.createbtn:hover {
  background: rgba(288,0,70,.9); 
}
button.chatbtn i,button.createbtn i {
  margin-right: 5px; 
}
.user-rating{
  display:flex;
}
.user-rating h3{
  font-size: 2.5rem;
  font-weight: 200;
  margin-right:5px;
  letter-spacing: 1px;
  color: #666;
}
.user-rating .no-user{
  font-size: .9rem;
}
.rate{
  padding-top: 6px;
}
.rate i{
  font-size: .9rem;
  color: var(--color);
}
.nav{
  width: 100%;
  z-index: -1;
}
.nav ul{
  display: flex;
  width: 100%;
  justify-content: center;
  list-style-type:none;
  height: 40px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0,0,0,.3);
  
}

.nav ul li{
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: all .2s ease-in-out ;
}
.nav ul li.active , .navul li:hover {
  box-shadow: 0px -3px 0px rgba(288,0,70,.9)inset;
}
.profile-body{
  width:100%;
  z-index:-1;

}
.tab {
  padding-left:20px;
  padding-right: 20px;
  margin-bottom: 20px;
  width:100%;
  text-align: center;
  display: none;
}



@media(max-width:1200px) {
  .profile-side{
    width:250px;
    padding: 90px 15px 20px;
  }
  .profile-img img{
    height: 200px;
    width:200px;
    left:40px;
    top:50px;
  }
}
@media screen and (max-width: 700px) {

  .col-lg-10{
    margin:0 20px;
    height: 100%;
    background: #7f5a83;
    background-image: linear-gradient(315deg, #d1c3d3fb 8%, #163349 74%);
    background-size: cover;

  }
  .col-lg-12{
    margin:10 20px;
    height: 100%;
    background: #7f5a83;
    background-image: linear-gradient(315deg, #d1c3d3fb 8%, #163349 74%);
    background-size: cover;

  }
  body{
    margin:0 20px;
    height: 100%;
    background: #7f5a83;
    background-image: linear-gradient(315deg, #948196fb 5%, #214057 74%);
    background-size: cover;
    
  }
  /* For mobile phones: */
  .top {
    font-size: 40px;
  }
  .disc{
    font-size: 20px;
  }
  .left{
    width: 10%;
  }
  .right{
    width: 10%;
  }
  .main{
    width: 100%;
    border-radius: 40px;
    
  }
 
  .img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  
  }
  .profile-header{
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }
  .profile-img{
    float: left;
    width: 100%;
    height: 200px;
  }
  .profile-img img{
    position: relative;
    left:0;
  }
  .profile-nav-info .address{
    justify-content: center;
  }
  .profile-option{
    right: 20px;
    top:75%;
    transform: translateY(50%);
  }
  .main-bd{
    flex-direction: column;
    padding-right: 0px;
  }
  .profile-side{
    width:100%;
    text-align: center;
    padding: 20px;
     margin: 5px 0;
  }
  .user-rating{
    justify-content: center;
  }

}
@media(max-width:400px){
  body{
    margin:0;
  }
  .profile-header h3{
    font-size: 1.5rem;
  }
  .profile-header p ,.profile-header span {
    font-size: .9rem;
  }
  .profile-option{
    width:30px;
    height: 30px;
    position: absolute;
    right:15px;
    top:83%;
  }
  .profile-option .notificatiion .alert-message{
    top: -3px;
    right: -4px;
    padding: 4px;
    height: 15px;
    width: 15px;
    font-size: .7rem;
  }

}
 @media screen and (min-width: 700px) {
    .img{
      display: none;
    }
  } 

  .slider .slider-item{
    display: none;
    animation: reveal .5s ease-in-out;
  }
  .slider .slider-item.active {
    display: block;
  }
  .slider .dots {
    text-align: center;
    padding: 10px;
  }
  .slider .dots li {
    cursor: pointer;
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 7px 11px;
    line-height: .5;
    border-radius: 50%;
    text-indent: -9999px;
    opacity: .5;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
  }
  .slider .dots li.active{
    opacity: 1;
  }
  @keyframes reveal{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }
  .profile-map{
    margin-left: 30%;
  }
  .profile-posts{
    text-align: left;
  }
  .infor{
    background-color: #6f4caf4d;
    border-radius: 10px;
    box-shadow: rgb(255, 255, 255) 5px 10px 15px, rgb(255, 255, 255) 0px 2px 4px, rgba(54, 0, 99,0.07) 0px 4px 8px, rgba(54, 0, 99,0.07) 0px 8px 16px, rgba(54, 0, 99,0.07) 0px 16px 32px, rgba(54, 0, 99,0.07) 0px 32px 64px;
    padding: 20px;
  }
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 200px;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(214, 214, 214);
    background-color: rgba(0, 65, 204, 0.39);
    border: none;
    border-radius: 45px;
    box-shadow: 10px 80px 150px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }