
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=sawp');

:root{
    --color:#e40046;
    --purple:#7439a5;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --black:#130f40;
    --light-color:rgb(194, 154, 231);
    --border:2rem solid rgba(0,0,0,.1);
    --outline:1rem solid rgba(0,0,0,.1);
    --outline-hover:2rem solid var(--black);
}


*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100%;
    width: 100%;
    background:linear-gradient(135deg, #0D0628,#0D0628 );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}


.navbar
{
    background:rgba(0,0,0,0.2)
}
.nav-link{
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.navbar-toggler-icon {
    background:white;
  }
.nav-item:hover{
    background-color: rgba(255, 255, 255,0.2);
    border-radius: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
    padding-left: 20px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(245, 245, 245);
  }

  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
  .main {
    display: flex;
    position: fluid;
    float: left;
    width: 100%;
    margin-left:0px;
    height: auto;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 50px;
    background:rgba(255, 255, 255,0.2)
  
  }
  
  .right {
    
    float: left;
    width: 40%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  .left {
    
    float: left;
    width: 10%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  .top{
    color: white;
    font-size: 70px;
  }
  .disc{
    color: white;
     font-size: 25px;
  }
  

  @media screen and (max-width: 700px) {
    body{
      height: 100%;
      background: #7f5a83;
      background-image: linear-gradient(315deg, #948196fb 5%, #214057 74%);
      background-size: cover;
      
    }
    /* For mobile phones: */
    .top {
      font-size: 40px;
    }
    .disc{
      font-size: 20px;
    }
    .left{
      width: 10%;
    }
    .right{
      width: 10%;
    }
    .main{
      width: 100%;
      border-radius: 40px;
      
    }
   
    .img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    
    
    }
  }

  .registration-section{
      width:100%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      font-family: "Poppins",sans-serif;
  
  }
  .registration-info{
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-left: 65px;
    font-size: 18px;
  }
  .registration-info i{
    margin-right: 20px;
    font-size: 25px;
  }
  .registration-form{
    max-width: 700px;
  }
  .registration-info,.registration-form{
    flex: 1;

  }

  .registration-form h2{
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;

  }

  .registration-form h4{
    color: #fff;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;

  }
  .registration-form .text-box{
    background-color:rgba(191, 165, 192, 0.288);
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    opacity: 0.9;

  }
  /* .registration-form .text-box:first-child{
    margin-right: 0px;
  } */

  .registration-form textarea{
    background: rgba(191, 165, 192, 0.288);
    color: #fff;
    border: none;
    width:100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    opacity: 0.9;

  }
  .registration-form .send-btn{
    float: center;
    background-color: rgb(125, 125, 218);
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
  }
  .registration-form .send-btn:hover{
    background: rgb(95, 95, 202);
  }

  .btn .send-btn{
    float: right;
    background-color: rgb(125, 125, 218);
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
  }
  .btn .send-btn:hover{
    background: rgb(95, 95, 202);
  }
  
  
  .left {
  
    float: left;
    height: 100%;
    padding: 15px;
    margin: 10px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
  }

  .main {
    position: fluid;
    float: left;
    width: 100%;
    margin-left:0px;
    height: auto;
    padding: 20px;
    border-radius: 50px;
    margin-bottom: 50px;
    background:rgba(255, 255, 255,0.2)
  
  }
  
.main-bd{ 
    width:100%;
    display: flex;
    padding-right: 15px;
}



 
  @media screen and (min-width: 700px) {
    .img{
      display: none;
    }
  }
  @media screen and (max-width: 950px){
    .registration-section{
      flex-direction: column;
    }
    .registration-info, .registration-form{
      margin: 30px 50px;
    }
    .registration-form h2{
      font-size: 30px;
    }
    .registration-form .text-box{
      width: 100%;
    }
  }