{% extends "layout.html" %}
<!DOCTYPE html>
{% load static %}
{% block content %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
           Blog
        </title>
        <link rel="stylesheet" href="{% static 'css/hostel.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <style>
            @media(max-width:991px){
                html{
                    font-size: 60%;
                }
                section{
                    padding: 2rem;
                }
                .container1{
                    grid-template-columns: 2fr 1fr;   
                }

            }
            @media(max-width:768px){
                .container1{
                    grid-template-columns: 1fr;  
                    gap:0; 
                }
            }
            @media (max-width: 450px) {
                html{
                font-size: 55%;
                }
            }
        </style>
            </head>
        
            
          
            <section class="banner" >
                <div class="content">
                    <h3>Explore the hostels</h3>
                    <h6>Looking for a place to stay?</h6>
                    <p>Chhatrabas has you covered with 500+ hostels all over Nepal.</p>
                    <a href="#" class="btn-1">My blogs</a>

                </div>
            </section>
            <section class="container1" id="About_us">
            <div class="post-container">

            
            <div class="post">
               
            <h3 class="title">Introduction to Chhatrabas</h3>
            <p class="text"> Chhatrabas is a web-based application aimed to provide a hostel room for those students who do 
                not have a clear choice of stay. It is a website that will provide information on numerous hostels, 
                such as their address, gallery, reviews, and the number of rooms that are available in individual 
                hostel.
                <br>
                <br>
                It is always hard for students to attain information about the various hostels such as, distance of 
                hostels from the university facilities, the available conditions about the hostels, satisfaction with 
                transport, hostel security, room size, and safety. Students face a lot of problems when looking and 
                identifying hostels for residing in. These include; higher prices charged by brokers and some 
                hostels owners, tiresome and time-wasting process of looking for hostels. In addition, hostel 
                owners find it difficult to handle students’ and employee information.
                <br>
                <br>
                With this system in place, we can improve the efficiency of the hostel operations while saving the
                time of the students, thus overcome the drawbacks of the existing manual system. There will be 
                various criteria for the booking of hostel rooms. If the user finds the type of hostel or hostel room 
                they are looking for on this page, they can reserve it. The influence of the environment and 
                accommodation on the satisfaction level of all students has been a popular area of study and of 
                compelling interest to studies. In relation to this, the good hostel condition has positive influence 
                on the overall student enrolment. </p>
                

            </div>
            <div class="post">
               
                <h3 class="title">Why Chhatrabas?</h2>
                <p class="text"> We came across few individual hostel websites where the hostel owners have provided information 
                    about the services they offer, the hostel fee, and other additional information through which 
                    students can reserve the room. These systems were also designed to store the data of the students 
                    who is currently residing in the hostel and to verify the personal profile of all the current students 
                    within few minutes. The system was also capable to automatically calculate all the bills and issues 
                    notifications to those students. Because this approach was limited to a single hostel, students were 
                    limited to just selecting one from that particular hostel.
                    <br>
                    <br>
                    We also discovered a small number of websites that featured hostels, but they just provided basic 
                    information about the hostels and their locations, with no option to book through the system. These 
                    websites were not much useful as it did not have much features in it (System and System 2021).
                    In comparison to these websites, the system we are developing is somewhat comparable, but it is 
                    still quite different because we have planned to provide much more elevated features such as 
                    government certified hostels can only register themselves in this system. Similarly, Hostel can 
                    announce their vacancy and even update their profile with various information including the price, 
                    number of roommates, etc. Since, this is student focused system students are recommended with 
                    hostel near their chosen university, college, or school. Students can view the rooms with the 
                    different price ranges and can reserve the room through this system only. </p>
                    
    
             </div>
            </div>
            <div class="side-bar">
                <div class="boxx">
                    <h3 class="title">Our Team</h3>
                    <div class="about">
                        <img src="{% static 'img/alok.jpg' %}"  alt="" >
                        <h3>Alok Bista</h3>
                        <img  src="{% static 'img/bibhu.jpg' %}" alt="" >
                        <h3>Bibhusha Sapkota</h3>
                        <img src="{% static 'img/kaushal.jpg' %}" alt="" >
                        <h3>Kaushal khanal</h3>
                        <img src="{% static 'img/krijal.jpg' %}" alt="" >
                        <h3>Krijal Shrestha</h3>
                        <img src="{% static 'img/niraj.jpg' %}" alt="" >
                        <h3>Niraj Bhatta</h3>
                    </div>
                </div>
            </div>
            
          
            </section>
            <script>
                // Add active class to the current button (highlight it)
            var header = document.getElementById("collapsibleNavbar");
            var btns = header.getElementsByClassName("nav-link");
            btns[2].classList="nav-link active"
            btns[0].classList="nav-link"
            btns[1].classList="nav-link"
            btns[3].classList="nav-link"
            </script>
            {% endblock %}
        </div>
        

        
            
    </body>
</html>