{% load static %}
{% block footer %}
<link rel="stylesheet" href=" {% static 'css/footer.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<footer class="footer">
<div class="container">
    <div class="row">
        <div class="footer-col1">
            <h2>Chhatrabas</h2>
            <ul>
                <br>Chhatrabas is student centric platform where student can find hostels easily.</br>	 			
            </ul>
        </div>
        <div class="footer-col">
            <h4>Contact us</h4>
            <ul>
                <li><a href="#">+977 9876565556</a></li>
                <li><a href="#">chhatrabas@gmail.com</a></li>
                <li><a href="#">Kathmandu, Nepal</a></li>
            </ul>
        </div>
        
        <div class="footer-col">
            <h4>Social Media</h4>
            <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"> </i></a>
                <a href="#"><i class="fab fa-instagram"> </i></a>
                <a href="#"><i class="fab fa-twitter"> </i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="footer-col">
         <h4>Useful Links</h4>
         <ul>
             <li><a href="#">About Us</a></li>
             <li><a href="#">Blog</a></li>
             <li><a href="#">Hostels</a></li>
             <li><a href="#">Policy</a></li>
         </ul>
     </div>
    </div>
    
</div>
<div>
 <div class="footer-copyright">
 <br>Copyright © All Right Reserved</br>
 </div>
</div>
</footer>
{% endblock %}