<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hostel Profile</title>
        <link rel="stylesheet" href=" {% static 'css/hostelprofile.css' %} ">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
</head>
<style>
    @media screen and (min-width: 700px) {
    .img{
        display: none;
    }}
    .closebtn {
    position: absolute;
    display: block;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    }
</style>
    <body>
        {% include 'header.html'%}
          {% block header %}
          {% endblock %}
        <div class="container-fluid d-flex justify-content-center"> 
            <div class="col-lg-10 main ">
            <div class="profile-header">
                <div class="profile-img">
                    <img src="" width="200" alt="" id="profImg">
                </div>
                <div class="profile-nav-info">
                    <h3 class="user-name" id="user-name"><span id="b"></h3>
                    <div class="address">
                        <span class="Country" id="Country"></span>
                    </div>
                </div>
            </div>
            <div class="main-bd">
                <div class="left-side">
                    <div class="profile-side">
                        <p class="mobile-no" ><i class="fa fa-phone"></i><span id="mobile-no"></span></p>
                        <p class="user-mail"><i class="fa fa-envelope-open"></i><span id="user-mail"></span></p>
                    <div class="user-bio">
                        <h3>Bio</h3>
                        <p class="bio" id="bio"></p>
                    </div>
                    <div class="user-bio">
                        <h3>Price per month</h3>
                        <p class="bio" id="price" style="font-size:20px"></p>
                        <form action="/hostel/hostelbook" method="POST">
                            {% csrf_token %}
                         <p>Booking date:<p> <input type="date" name="date" id="start" required>
                    </div>
                    <div class="profile-btn">
                        <div style="display:none">
                            <input type="text" name="customer_id" id="customer_id" class="text-box" value={{request.session.customer_id}}>
                            <input type="text" name="customername" id="customername" class="text-box" value={{request.session.username}}>
                            <input type="text" name="hostel_name" id="hostel_name" class="text-box">
                            <input type="text" name="price" id="price-hos"  class="text-box">
                        </div>
                        <button class="chatbtn" type="submit" name="submit">Bookmark                 
                        </button>
                                      
                        </form>
                        <button class="chatbtn">
                            <i class="fa fa-comment"></i>Chat                        
                        </button>
                        
                    </div>
                    <div class="user-rating">
                        <h3 class="rating" id="rating"></h3>
                        <div class="rate">
                            <div class="stars">
                           <p id="rate" style="color:red;font-size:25px;"></p>
                        </div>
                        <span class="no-user">
                            <span>Google</span>&nbsp;&nbsp;reviews
                        </span>
                        </div>

                    </div>
                    </div>
                </div>
                <div class="right-side">
                    <div class="nav">
                        <ul>
                            <li onclick="tabs(0)"class="information active"> Information</li>
                            <li onclick="tabs(1)"class="review">Reviews</li>
                            <li onclick="tabs(2)"class="settings">Images</li>
                            <li onclick="tabs(3)" class="map">Map</li>
                        </ul>
                    </div>
                    <div class="profile-body" style="color:white;">
                        <div class="profile-posts tab"> 
                            <h1 style="text-align:center;color:white;">Information</h1>
                            <div class="infor">
                            <p>
                                The information listed are all validated or verified so no need to worry about the information. All the information are gathered from google. 
                                The information are also legid.
                            </p>
                            <p>The number of room mates can be upto :</p>
                            <p id="roommates"></p>
                            <p>Those schools and colleges which are near this hostel are :</p>
                            <p id="nearby"></p>
                            <p>The parioritized features of the hostel are :</p>
                            <p id="features"></p>
                        </div>
                            
                        </div>
                        
                        <div class="profile-review tab">
                            <div class="wrap">
                                <a href="/hostel/review"><button class="button "><b>Write a review</b></button></a>
                              </div>
                            <div class=" infor">
                            <h1>User Reviews</h1>
                            <p>Review no 1</p>
                            <p id="review1"></p>
                            <p>Review no 2</p>
                            <p id="review2"></p>
                            <p>Review no 3</p>
                            <p id="review3"></p>
                            </div>
                        </div>
                        <div class="col-lg-12 profile-setting tab">
                            <h1> Images</h1>
                            <p>
                                
                                <div class="col-lg-12 container">
                                    <div id="slider" class="slider">
                                      <div class="slider-item active"><img src="" alt="" id="img1" class="img-fluid" height="100px"></div>
                                      <div class="slider-item"><img src="" alt="" id="img2" class="img-fluid"></div>
                                      <div class="slider-item"><img src="" alt="" id="img3" class="img-fluid"></div>
                                      <ul id="dots" class="list-inline dots"></ul>
                                    </div>
                                    
                            
                                
                                  </div>
                            </p>
                        </div>
                        <div class="col-lg-12 profile-map tab container-fluid">
                            <div class="row  justify-content-center">
                                <h1>...............Map...............</h1>
                            <div class="col-lg-12 container-fluid mapouter"><div class="gmap_canvas container-fluid">
                                <iframe width="100%" height="400px" id="gmap_canvas"
                                 src="" 
                                 frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">
                                     123movies</a><br><style>.mapouter{position:relative;text-align:right;height:400px;width:100%;}</style>
                                     <a href="https://www.embedgooglemap.net">google maps embed iframe generator</a>
                                     <style>.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:100%;}</style></div></div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <script>
        


        var b = JSON.parse(localStorage.getItem("hostel"));
        console.log(b)
        document.getElementById('user-name').innerText = b[1];
        document.getElementById('Country').innerText = b[6];
        document.getElementById("profImg").src = b[12];
        document.getElementById("mobile-no").innerText = b[17];
        document.getElementById("user-mail").innerText = b[16];
        document.getElementById("bio").innerText = b[18];
        document.getElementById("rating").innerText = b[5];
        document.getElementById("rate").innerText = b[19];
        document.getElementById("price").innerText ="Rs: "+ b[9];
        document.getElementById("roommates").innerText =b[7] +" roommate";
        document.getElementById("nearby").innerText = b[8];
        document.getElementById("features").innerText = b[10];
        document.getElementById("review1").innerText = b[2];
        document.getElementById("review2").innerText =b[3];
        document.getElementById("review3").innerText =b[4];
        document.getElementById("img1").src =b[12];
        document.getElementById("img2").src =b[13];
        document.getElementById("img3").src =b[14];
        document.getElementById("gmap_canvas").src =b[20];
        

        document.getElementById("hostel_name").value = b[1];
        document.getElementById("price-hos").value = b[9];

        var superSlide = function(slider) {
  
            this.sliderItems = slider.getElementsByTagName('div');
            this.dots = slider.querySelector('.dots');
            
            this.init = function() {
              for (i = 0; i < this.sliderItems.length; i++) {
                var dot = document.createElement('li');
                dot.classList.add('list-inline-item');
                dot.setAttribute("data-slide-num", i);
                dot.innerHTML = i;
                dot.classList.add(i === 0 ? 'active' : 'inactive');
                dot.addEventListener("click", this.runSlider.bind(this));
                this.dots.appendChild(dot);
              }
            }
            
            this.runSlider = function(evt) {
              var activeDot = evt.currentTarget;
              var dnum = activeDot.dataset.slideNum;
              for (i = 0; i < this.sliderItems.length; i++) {
                var cssIdx = i + 1;
                var inactiveDot = slider.querySelector('.list-inline-item:nth-child(' + cssIdx + ')');
                this.sliderItems[i].classList.remove('active');
                this.sliderItems[dnum].classList.add('active');
                inactiveDot.classList.remove('active');
                activeDot.classList.add('active');
              }
            }
            
            this.init()
            
          }
          
          var slider1 = new superSlide(document.getElementById('slider'))

    </script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script> 
        <script src="{% static 'js/hostelprofile.js' %}"></script>
    </body>
</html>